{% extends 'userpanel/loggedhome/logbase.html' %}
{% block content %}
<!-- banner -->
	{% comment %} <div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators-->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1" class=""></li>
			<li data-target="#myCarousel" data-slide-to="2" class=""></li>
			<li data-target="#myCarousel" data-slide-to="3" class=""></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="container">
					<div class="carousel-caption">
						<h3>Big
							<span>Save</span>
						</h3>
						<p>Get flat
							<span>10%</span> Cashback</p>
						<a class="button2" href="product.html">Shop Now </a>
					</div>
				</div>
			</div>
			<div class="item item2">
				<div class="container">
					<div class="carousel-caption">
						<h3>Healthy
							<span>Saving</span>
						</h3>
						<p>Get Upto
							<span>30%</span> Off</p>
						<a class="button2" href="product.html">Shop Now </a>
					</div>
				</div>
			</div>
			<div class="item item3">
				<div class="container">
					<div class="carousel-caption">
						<h3>Big
							<span>Deal</span>
						</h3>
						<p>Get Best Offer Upto
							<span>20%</span>
						</p>
						<a class="button2" href="product.html">Shop Now </a>
					</div>
				</div>
			</div>
			<div class="item item4">
				<div class="container">
					<div class="carousel-caption">
						<h3>Today
							<span>Discount</span>
						</h3>
						<p>Get Now
							<span>40%</span> Discount</p>
						<a class="button2" href="product.html">Shop Now </a>
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div> {% endcomment %}
	<!-- //banner --> 


<div style="margin-top:49px;">
		<div class="">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">Your Token
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->



{% comment %} ////////////////// Shop Body start  ////////////////////////// {% endcomment %}
<div class="my-grid">



        <!-- ///////////////// one start //////////// -->
    <div class="mycontainer">


        <!-- //////////////// profile dp ////////////////////// -->

        {% comment %} <img src='https://www.filmibeat.com/img/popcorn/profile_photos/dharmajan-bolgatty-20190624143621-28086.jpg' alt='profile image' class="profile-img"> {% endcomment %}

        <!-- //////////////// profile dp end ////////////////////// -->

        <h1 style="margin-top:30px;" class="name">Generated token</h1>

        <table border=1px; style="margin:auto;margin-top:10px;width:90%;font-size:;">
        <tr>
            <th style="padding-left:10px;">User Name</th>
            <td>Arun das</td>
            
        </tr>
        <tr >
            <th style="padding-left:10px;">Mobile No</th>
            <td>9089123217</td>
            
        </tr>

        <tr>
            <th style="padding-left:10px;">Token No</th>
            <td>01</td>
            
        </tr>

        <tr>
            <th style="padding-left:10px;">Date</th>
            <td>21/11/20</td>
            
        </tr>

        <tr>
            <th style="padding-left:10px;">PaymentType</th>
            <td>online|COD </td>
            
        </tr>

        <tr>
            <th style="padding-left:10px;">PayAmount</th>
            <td>700</td>
            
        </tr>

        <tr>
            <th style="padding-left:10px;">PayStatus</th>
            <td>Payed|Pending</td>
            
        </tr>
        
        </table>

        
        <p class="description">Notice : <br> Collect with Shop prefferd time</p>
        <button class='btn'>Submit</button>

        </div>

        <!-- ///////////////// one end //////////// -->

        






</div>
{% comment %} ////////////////// Shop Body end  ////////////////////////// {% endcomment %}


	</div>
</div>




	

{% endblock %}